@charset "UTF-8";

// CSSリセット
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: yorkten-slab-condensed,
        sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: #1c1c1c;
}


h1 {
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-family: yorkten-slab-condensed,
        sans-serif;
    letter-spacing: 0.1em;
    margin: 36px
}

h2 {
    letter-spacing: 0.19em;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#hour {
    font-size: 40px;
    letter-spacing: 0.25em;
    font-family: yorkten-slab-condensed,
        sans-serif;
    font-weight: 900;
    font-style: normal;

}

#second {
    font-size: 40px;
    letter-spacing: 0.25em;
    font-family: yorkten-slab-condensed,
        sans-serif;
    font-weight: 900;
    font-style: normal;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #fffefe;
    color: #595959;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;

    &:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
    }
}

.save_parent {
    margin: 40px 20px;

    p {
        margin-top: 36px;
        cursor: pointer;

    }
}

.add {
    font-size: 24px;
    letter-spacing: -0.05em;
    font-weight: 400;
}


.chart {
    margin: 24px;
}

// モーダル

.popup {
 font-family: toppan-bunkyu-midashi-go-std,
 sans-serif;
 font-weight: 900;
 font-style: normal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    color: 1c1c1c;
    p{
        font-family: toppan-bunkyu-gothic-pr6n,
        serif;
        font-weight: 400;
        font-style: normal;
         font-style: normal;
    }
}

.popup.is-show {
    opacity: 1;
    visibility: visible;
}

.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 280px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
}

.popup-inner img {
    width: 100%;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.close-btn i {
    font-size: 20px;
    color:#595959;
}

.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    cursor: pointer;
}

.btn_info {
    margin-top: 36px;
}


.righticon {
    margin-right: 16px;
}

.fa-graduation-cap {
    margin: 8px;
}
